@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	margin: 40px auto;
	max-width: 500px;
}

.contenedor h1 {
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
}

.formulario {
	padding: 20px;
	border-radius: 5px;
	background: #fff;
	box-shadow:0 42px 80px rgba(0, 0, 0, 0.07);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario input {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	border: 1px solid rgba(0,0,0,.2);
	outline: none;
	border-radius: 3px;
	transition: .3s ease all;
}

.formulario input:focus {
	border: 1px solid #4d77ff;
}

.formulario .recaptcha {
	margin-bottom: 20px;
}

.formulario button {
	font-family: 'Roboto', sans-serif;
	background: #4d77ff;
	border-radius: 3px;
	padding: 15px 30px;
	border: none;
	cursor: pointer;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	outline: none;
}

.formulario button:hover {
	background: #1f45c4;
}

.error-captcha {
	color: red;
	margin-bottom: 20px;
}